.reply_drawer .ant-drawer-mask{
    background:none !important;

}
.reply_drawer .ant-drawer-body {
    background-color: rgb(249, 250, 251);
    overflow-y: hidden !important;
}
.reply_drawer .ant-drawer-bottom > .ant-drawer-content-wrapper{
    box-shadow: none !important;
}
.reply_drawer .anticon-close{
    color: white !important;
}

.reply_drawer .ant-drawer-title{
    color: white !important;
}